

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #e7e7e7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    background: #232323;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}